        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Playfair Display', serif;
            background: url(./img/background_content.png) center/cover repeat;
            color: #5a4a42;
            overflow-x: hidden;
        }

        /* ================= INTRO CARD ================= */
        .intro {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 340px;
            height: 460px;
            background: linear-gradient(135deg, #ffe6ea, #fff5f7);
            border-radius: 24px;
            box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-align: center;
            position: relative;
        }

        .password {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
        }

        .password-card {
            animation: shake .3s ease forwards;
        }

        .password-card .badge {
            margin-bottom: 0;
            animation: moveUp .5s ease forwards;
        }

        @keyframes moveUp {
            from {
                transform: translateY(0);
            }

            to {
                transform: translateY(-80px);
            }
        }

        .password-card button {
            margin-left: 8px;
            padding: 6px 12px;
            border: none;
            border-radius: 8px;
            background-color: #b04a5a;
            color: white;
            cursor: pointer;
        }

        .form_password {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            border: 2px solid #b04a5a;
            background-color: white;
            border-radius: 14px;
            padding: 6px;
        }

        .hint_password p {
            width: 220px;
            color: #b04a5a;
            font-size: 0.9rem;
        }

        .icon-password {
            font-size: 5rem;
            color: #d2707f;
            margin-bottom: 16px;
        }

        .password.active {
            display: flex;
        }

        .card.shake {
            pointer-events: none;
            animation: shake .3s ease forwards;
        }

        .card.zoom {
            pointer-events: none;
            animation: zoomOut .8s ease forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(0.7);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        @keyframes shake {

            0%,
            100% {
                transform: translateX(0);
            }

            25% {
                transform: translateX(-5px);
            }

            75% {
                transform: translateX(5px);
            }
        }

        @keyframes zoomOut {
            to {
                transform: scale(3);
                opacity: 0;
            }
        }

        .birthday-card::before {
            content: "";
            position: absolute;
            inset: 14px;
            border-radius: 18px;
            border: 2px dashed rgba(176, 74, 90, 0.4);
        }

        .badge {
            background: #b04a5a;
            color: #fff;
            padding: 6px 14px;
            border-radius: 20px;
            font-size: .9rem;
            display: inline-block;
            margin-bottom: 16px;
        }

        /* ================= MAIN CONTENT ================= */
        .content {
            display: none;
        }

        .content.active {

            display: block;
        }

        /* ================= HERO ================= */
        .hero {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

        }

        .hero__border {
            width: 100%;
            border-radius: 30px;
            text-align: center;
        }

        /* ================= PopUpImg ================= */
        .showPopUp {
            padding: 60px 0;
        } 

        .showPopUp_img {
            display: flex;
            flex-direction: column;
            gap: 120px;
            padding: 0 40px;
            align-items: center;
            justify-content: center;
        } 

        .showPopUp_img img {
            width: 110%;
            height: 110%;
            object-fit: cover;
            border-radius: 16px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
            opacity: 0;
        }

        .showPopUp_img img.show:nth-child(1) {
            animation: fadeInRightUp 1.4s ease forwards;
        }
        .showPopUp_img img.show:nth-child(2) {
            animation: fadeInLeftUp 1.4s ease forwards;
        }
        .showPopUp_img img.show:nth-child(3) {
            animation: fadeInRightUp 1.4s ease forwards;
        }
        .showPopUp_img img.show:nth-child(4) {
            animation: fadeInLeftUp 1.4s ease forwards;
        }
        .showPopUp_img img.show:nth-child(5) {
            animation: fadeInRightUp 1.4s ease forwards;
        }
        .showPopUp_img img.show:nth-child(6) {
            animation: fadeInLeftUp 1.4s ease forwards;
        }
        .showPopUp_img img.show:nth-child(7) {
            animation: fadeInRightUp 1.4s ease forwards;
        }

        @keyframes fadeInRightUp {
            from {
                opacity: 0;
                transform: translate(50px,10px);
            }

            to {
                opacity: 1;
                transform: translate(0,-10px);
            }
        }
         @keyframes fadeInLeftUp {
            from {
                opacity: 0;
                transform: translate(-50px,10px);
            }

            to {
                opacity: 1;
                transform: translate(0,-10px);
            }
        }


        /* ================= GALLERY ================= */
        .gallery-wrapper {
            padding: 60px 0;
            overflow-x: auto;
        }

        .gallery {
            display: flex;
            gap: 24px;
            padding: 0 40px;
        }

        .gallery img {
            width: 200px;
            height: 440px;
            object-fit: cover;
            border-radius: 16px;
            flex-shrink: 0;
            box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
            transition: width .4s ease, height .4s ease, box-shadow .4s ease;
        }

        .gallery img:hover {
            width: 360px;
            height: 500px;
            box-shadow: 0 25px 45px rgba(0, 0, 0, .35);
        }

        /* ================= VIDEO SECTION ================= */
        .video-section {
            padding: 80px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .box_gift{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            padding: 18px;
            border-radius: 18px;
            position: relative;
        }
        .box_gift_icon.active{
            animation: zoomOut1 2.6s ease forwards;
        }
        @keyframes zoomOut1 {
            to {
                transform: scale(4);
                opacity: 0;
            }
        }
        .gift_text {
            margin-top: 12px;
            font-size: 0.8rem;
            color: #5a4a42;
            position: absolute;
            top : -70px;
            right: -80px;
            background-color: white;
            border-radius: 8px;
            padding: 6px;
        }
        .gift_text::after{
            position: absolute;
            top: 26px;
            content: "";
            border:20px solid white;
            border-color: white transparent transparent transparent;
        }
        .box_gift_icon{
            width: 200px;
            height: 200px;    
            transform: rotate(-14deg);  
            position: relative;
            z-index: 10;  
        }
        
        .video-box {
            display: flex;
            display: none;
            justify-content: center;
            max-width: 100vw;
            width: 100%;
            border-radius: 13px;
            overflow: hidden;
            box-shadow: 0 15px 35px rgba(0, 0, 0, .25);
        }
        .video-box.active {
            display: flex;
        }

        video {
            position: relative;
            z-index: 11;
            width: 100%;
            display: block;
        }

        footer {
            padding: 40px;
            text-align: center;
            color: #8a7b73;
        }